@charset "UTF-8";

// Color
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";

$lightpink: #FBEAEB;
$lightpink-invert: findColorInvert($lightpink);
$navy: #2E3C7E;
$navy-invert: findColorInvert($navy);

// Font

$family-serif: "Georgia", serif;
$family-primary: $family-serif;


@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "lightpink":($lightpink, $lightpink-invert),
  "navy": ($navy, $navy-invert),
);
$colors: map-merge($colors, $addColors);

@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass';
