:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#title {
  background: rgb(251,37,118);
  background: linear-gradient(144deg, rgba(251,37,118,1) 0%, rgba(63,0,113,1) 50%, rgba(51,47,208,1) 100%);
  color: aliceblue;
}

.title_content {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
}

h2.header {
  padding-top: 2rem;
}

span.highlight {
  padding: 0.15rem 0.3rem;
  background-color: #f2f1f1;
  border-radius: 0.2rem;
  color: #FB2576;
  font-size: smaller;
}

a {
  color: #FB2576;
}

.first_fc {
  color: #3F0071;
}
.second_fc {
  color: #FB2576;
}
.third_fc {
  color: #332FD0;
}

.subtask {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  border: 0.05rem solid #213547;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}


button.default {
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #007bff;
  text-align: center;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.default:hover {
  background-color: #0069d9;
  transform: translateY(-2px);
}

button.default:active {
  transform: translateY(2px);
}

/* 
#app {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*/

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
} */


/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
